{% extends 'accounts/base_sign.html' %}

{% load static %}

{% block title %}Adminstrator Information{% endblock title %}

{% block  content %}

<div class="container-form">
    <div class="header">
        <h1>Administrator Information</h1>
    </div>
    <div class="myform">
        <form action=" " method="POST">
            {% csrf_token %}
            {{ adinfoform }}
            <!-- <div class="form-image">
                <img src="{% static '/img/student-avatar.png' %}">
                <p>Student</p>
            </div>
            <div class="form-image">
                <img src="{% static '/img/supervisor-avatar.png' %}">
                <p>Supervisor</p>
            </div> -->
            <button class="primary-btn" type="submit">NEXT</button>
        </form>
    </div>
    <div class="myfooter">
        <span class="subtitle"><p>Final Year Project by Ibeh Ebubechukwu David © 2021</p></span>
    </div>
    </div>

{% endblock %}