{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock%}</title>
    <link type="text/css" rel="stylesheet" href="{% static '/css/dash.css' %}">
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Supervisor Dashboard</h2>
    </div>
    <div class="middle">
        <div class="left-pane">
            <div class = "img-div">
                <img src="{% static '/img/supervisor-avatar.png' %}">
            </div>
            <div class = "profile">
                <h3>{{user.first_name}} {{user.last_name}}</h3>
                <p>{{user.email}}</p>
                <p><strong>Position: </strong>{{ superlevel }}</p>
                <p><strong>Department: </strong>{{ superdepartment}}</p>
                <p><strong>StaffNumber: </strong>{{ user.username }}</p>
                <a href="">Edit Profile</a><br>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        <div class="right-pane">
            {% block content %}


            {% endblock %}
            <div class="footer">
                <span class="subtitle">Final Year Project by Ibeh Ebubechukwu David © 2021</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>