{% extends "accounts/base_supdash.html" %}
{% load static %}
{% block title %}{{user.first_name}}'s Dashboard {% endblock title %}
{% block content %}
<div class="hero-div">
    <h2>Welcome {{user.first_name}},</h2>
    <p><strong>To get allocated,</strong> set your <strong>project type</strong> and rank your <strong>areas of interest</strong> in the order of <strong>first to fifth choice</strong> on or before <strong>Monday, July 25th 2021</strong>. On <strong>Wednesday, July 25th 2021</strong>, <strong>rank the available students</strong> the system generates for you based off your inputed area of interests. Then submit your profile for final allocation. The allocation result would be available on <strong>Thursday, July 25th 2021</strong>. Deadline to submit profile is <strong>Wednesday, July 24th 2021</strong></p>
</div>
<div class="dash-items">
    <div class="option">
        <img src="{% static '/img/icon/set_icon.png' %}">
        <p>Set and rank your project topic area of interest </p>
    </div>
    <div class="btn-1"><a href="{% url 'rank_area' %}">GO</a></div>
</div>
<div class="dash-items">
    <div class="option">
        <img src="{% static '/img/icon/rank_topic_icon.png' %}">
        <p>Rank available students</p>
    </div>
    <div class="btn-2"><a href="#">GO</a></div>
</div>
<div class="dash-items">
    <div class="option">
        <img src="{% static '/img/icon/profile_icon.png' %}">
        <p>Submit profile for allocation</p>
    </div>
    <div class="btn-3"><a  href="#">GO</a></div>
</div>
<div class="dash-items">
    <div class="option">
        <img src="{% static '/img/icon/allocated_student_icon.png' %}">
        <p>View allocated students</p>
    </div>
    <div class="btn-4"><a href="#">GO</a>
    </div>
</div>
{% endblock content %}