{% extends "accounts/admin/base_admin.html" %}
{% load static %}
{% block title %}Set Supervisors Constraints {% endblock title %}
{% block content %}
<div class="text-center mt-5 mb-5">
    <h3>Set Deadlines for Registration</h3>
</div>
<div class="alert alert-primary mt-3 role="alert">
    Set the deadline date for registration modules for both Supervisors and Students
</div>
<form method="POST" action="">
    {% csrf_token %}
    {{ setform }}
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
{% endblock %}