{% extends "accounts/admin/base_admin.html" %}
{% load static %}
{% block title %}Registered Students{% endblock title %}
{% block content %}
<div class="text-center mt-5 mb-5">
    <h3>Registered Students</h3>
</div>
<div class="alert alert-primary mt-3 role="alert">
    <strong>{{ mystudents_count }}{% if mystudents_count == 0 %} student {% else %} students {% endif %}</strong> have been successful added to the portal
</div>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Level</th>
        <th scope="col">Department</th>
        <th scope="col">Course</th>
      </tr>
    </thead>
    <tbody>
        {% for student  in mystudents %}
        <tr>
            <td>{{ student.student }}</td>
            <td>{{ student.level }}</td>
            <td>{{ student.department }}</td>
            <td>{{ student.course }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}